In [0]:
import nltk
import pandas as pd
from nltk.stem import PorterStemmer as ps
stemmer = ps()

In [0]:
words=['annoying', 'annoys', 'annoyed', 'annoy']
stems =[stemmer.stem(word = word) for word in words]

In [8]:
sdf = pd.DataFrame({'raw word': words,'stem': stems})
sdf

   raw word   stem
0  annoying  annoy
1    annoys  annoy
2   annoyed  annoy
3     annoy  annoy